
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="div1"></div>
    <div id="div2"></div>
    <div id="div3"></div>
<script src="/scripts/jquery-3.3.1.js"></script>
<script src="/scripts/lv-uploader.js"></script>
<script>
    $(function () {
        $("#div1").lvuploader({
            url: '/Home/Upload',
            progress: function (value) {

            }
        });
        $("#div2").lvuploader({
            url: 'abc',
            progress: function (value) {

            }
        });
        $("#div3").lvuploader({
            url: 'abc',
            progress: function (value) {

            }
        });
    })
</script>
</body>
</html>
